$grid-sizes: (
  "full-width":     100%,
  "three-quarters": 75%,
  "two-thirds":     66.66666666666667%,
  "half":           50%,
  "is-one-third":   33.33333333333333%,
  "one-quarter":    25%
);

@mixin grid {
  display: flex;
  padding: var( --grid_container );
  justify-content: var( --grid_justify-content );
  align-items: var( --grid_align-items );
  flex-wrap: var( --grid_flex-wrap );
  & > {
    * {
      margin: var( --grid_gap );
    }
    :first-child {
      margin-left: 0;
    }
    :last-child {
      margin-right: 0;
    }
  }
  &.is- {
    &full-width {
      --grid_container: 0;
    }
    &gapless {
      --grid_gap: 0;
    }
    &justify-centered {
      --grid_justify-content: center;
    }
    &align-centered {
      --grid_align-items: center;
    }
    &multiline {
      --grid_flex-wrap: wrap;
    }
  }
  .is- {
    @each $label, $size in $grid-sizes {
      &#{ $label } {
        width: #{ $size };
      }
      &offset- {
        &#{ $label } {
          margin-left: #{ $size };
        }
      }
    }
  }
}

.grid {
//  @include grid;
}
