$media-size-lg: 1200px;
$media-size-md: 800px;

.wrapper
{
	display:     grid;
	place-items: center;
}

.gallery
{
	height: 100vh;
	@media ( min-width: $media-size-md )
	{
		display:  grid;
		grid-gap: 0px;
	}
	@media ( min-width: $media-size-md ) and ( max-width: $media-size-lg )
	{
		grid-template-columns: repeat(2, 1fr);
	}
	@media ( min-width: $media-size-lg )
	{
		grid-template-columns: repeat(3, 1fr);
	}
	figure
	{
		img
		{
			width:  100%;
			height: 100%;
		}
	}
}

figure
{
	&.fullsize
	{
		background-size:     cover;
		background-position: center;
		height:              100vh;
		position:            relative;
		z-index:             10;
		figcaption
		{
			background-color: #ffffff;
			bottom:           0;
			margin:           3em;
			padding:          3em;
			position:         absolute;
			width:            auto;
			@media ( min-width: $media-size-md )
			{
				width: 25%;
			}
			h1 {
				color:     $brand-color;
				font-size: 1.5em;
			}
		}
		&:nth-child( even )
		{
			figcaption
			{
				left:  auto;
				right: 3em;
			}
		}
	}
}
