{% if include.headline %}
<section
    id="{{ include.headline | replace: ' ', '-' | downcase }}"
    class="text-block {{ include.class | default: '' }}"
    style="background-color:{{ include.background-color | default: 'transparent' }}; color:{{ include.color | default: 'var(--font-color)' }}; {{ include.style | default: '' }}" 
>
{% else %}
<section class="text-block {{ include.class | default: '' }}">
{% endif %}
    <div class="text-block_wrapper">
        {% if include.headline %}
            <header>
                <h2>{{ include.headline }}</h2>
            </header>
        {% endif %}
        {% if include.bodycopy %}
            {{ include.bodycopy }}
        {% endif %}
    </div>
</section>