{% if include.headline %}
<section
    id="{{ include.headline | replace: ' ', '-' | downcase }}"
    class="text-block {{ include.class | default: '' }}"
    style="background-color: {{ include.background-color | default: 'transparent' }}; color: {{ include.color | default: 'inherit' }};{% if include.style %} {{ include.style }}{% endif %}">
{% else %}
<section class="text-block {{ include.class | default: '' }}">
{% endif %}
    <div class="text-block_wrapper">
        {% if include.headline %}
            <header>
                <h2 style="--color: {{ include.header-color | default: 'inherit' }};">{{ include.headline }}</h2>
            </header>
        {% endif %}
        {% if include.bodycopy %}
            {{ include.bodycopy }}
        {% endif %}
    </div>
</section>