{% if include.id %}
<figure
    id="{{ include.id | replace: ' ', '-' | downcase }}"
    style="background-color:{{ include.background-color | default: '#d6d6d6' }}; {{ include.style | default: '' }}" 
    class="{{ include.class | default: '' }}"
    aria-label="{{ include.alt | default: '' }}"
>
{% else %}
<figure 
    style="background-color:{{ include.background-color | default: '#d6d6d6' }}; {{ include.style | default: '' }}" 
    class="{{ include.class | default: '' }}"
    aria-label="{{ include.alt | default: '' }}"
>
{% endif %}
    <img 
        {% if include.set %}
            {% case include.set-size %}
                {% when "large" %}
                    srcset="
                    {{ include.file }}@4x.{{ include.type | default: 'jpg' }} 2550w,
                    {{ include.file }}@3x.{{ include.type | default: 'jpg' }} 1275w,
                    {{ include.file }}@2x.{{ include.type | default: 'jpg' }} 638w,
                    {{ include.file }}@1x.{{ include.type | default: 'jpg' }} 255w
                    "
                {% when "medium" %}
                    srcset="
                    {{ include.file }}@3x.{{ include.type | default: 'jpg' }} 1275w,
                    {{ include.file }}@2x.{{ include.type | default: 'jpg' }} 638w,
                    {{ include.file }}@1x.{{ include.type | default: 'jpg' }} 255w
                    "
                {% when "small" %}
                    srcset="
                    {{ include.file }}@2x.{{ include.type | default: 'jpg' }} 638w,
                    {{ include.file }}@1x.{{ include.type | default: 'jpg' }} 255w
                    "
                {% when "tiny" %}
                    srcset="
                    {{ include.file }}@1x.{{ include.type | default: 'jpg' }} 255w
                    "
                {% when "none" %}
                {% else %}
                    srcset="
                    {{ include.file }}@4x.{{ include.type | default: 'jpg' }} 2550w,
                    {{ include.file }}@3x.{{ include.type | default: 'jpg' }} 1275w,
                    {{ include.file }}@2x.{{ include.type | default: 'jpg' }} 638w,
                    {{ include.file }}@1x.{{ include.type | default: 'jpg' }} 255w
                    "
            {% endcase %}
        {% endif %}
        src="{{ include.file }}.{{ include.type | default: 'jpg' }}" 
        alt="{{ include.alt | default: '' }}"
        loading="{{ include.loading | default: 'lazy' }}"
        />
    {% if include.caption %}
    <figcaption class="scrim">
        <h4 class="title">{{ include.caption }}</h4>
    </figcaption>
    {% endif %}
</figure>