$caption-background: $background-color !default;
$caption-speed:      .225s !default;
$caption-z:          1 !default;

.gallery
{
	@media ( min-width: $media-size-md )
	{
		display:  grid;
		grid-gap: 0px;
	}
	@media ( min-width: $media-size-md )
	{
		grid-template-columns: repeat( 2, 1fr );
	}
	figure
	{
		position: relative;
		overflow: hidden;
		img
		{
			height:  100%;
			width:   100%;
			z-index: $caption-z;
			@include transition( transform $caption-speed);
		}
		figcaption
		{
			background-color: rgba( $caption-background, 0.90 );
			cursor:           pointer;
			position:         absolute;
			height:           100%;
			left:             0;
			max-width:        100%;
			opacity:          0;
			top:              0;
			width:            100%;
			z-index:          ( $caption-z + 1 );
			@include transition( all ( $caption-speed * 1.5 ) );
			section
			{
				bottom:     0;
				position:   absolute;
				padding:    $spacing-unit;
				right:      0;
				text-align: right;
				z-index:    ( $caption-z + 2 );
			}
		}
		&:hover 
		{
			img{
				@include transform( scale( 1.1 ) );
			}
			figcaption
			{
				opacity: 1;
			}
		}
	}
}

#about-me
{
	display:          grid;
	justify-content:  center;
	padding-top:      $spacing-unit;
	padding-bottom:   $spacing-unit;
	background-color: darken( $identity-color, 10% );
	color:            lighten( $identity-color, 20% );
	h1
	{
		color: white;
		@include text-underline( white );
	}
}

.fullsized
{
	position:            relative;
	z-index:             $caption-z;
	figcaption
	{
		background-color: $caption-background;
		bottom:           0;
		margin:           $spacing-unit;
		padding:          $spacing-unit;
		position:         absolute;
		width:            auto;
		@media ( min-width: $media-size-md )
		{
			width: 25%;
		}
	}
	&:nth-child( even )
	{
		figcaption
		{
			left:  auto;
			right: ( $identity-size + ( $spacing-unit * 2 ) );
		}
	}
}

.section
{
	padding: $spacing-unit * 2;
	@media ( min-width: $media-size-md )
	{
		display:               grid;
		grid-gap:              $spacing-unit;
		grid-template-columns: repeat( 2, 1fr );
		padding-right:         ( $identity-size + ( $spacing-unit * 3 ) );
		summary
		{
			grid-column: 2 / 3;
		}
	}
	header {
		h1 {
			@include text-underline();
		}
	}
}