
@use "sass:map";
@use "variables";
@use "transitions";
@use "component/functions";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");



$header_font-weight: #{map.get(variables.$font-weights, "bold")} !default;
$header_font-family: sans-serif !default;
$header_font-color: rgb(var(--font-800-color)) !default;
$header_margin: 0 !default;
$header_font-line-height: 1 !default;


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  animation: fadeInAnimation 0.75s variables.$transition-easing;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

:root {
  @include functions.build-variables(variables.$colors);
  @media (prefers-color-scheme: dark) {
    @include functions.build-variables(variables.$dark-mode_colors);
  }
}

body {
  --font-color: #{variables.$font-color};
  --font-size: 20px;
  --font-line-height: 1.5;
  --font-weight: #{map.get(variables.$font-weights, "normal")};
  --font-family: sans-serif;
  --text-align: left;

  --font-size-100: clamp(0.75rem, 0vw + 0.75rem, 0.75rem);
  --font-size-200: clamp(0.8rem, 0.16vw + 0.76rem, 0.89rem);
  --font-size-300: clamp(0.95rem, 0.16vw + 0.91rem, 1.04rem);
  --font-size-400: clamp(1.11rem, 0.24vw + 1.06rem, 1.25rem);
  --font-size-500: clamp(1.25rem, 0.84vw + 1.06rem, 1.73rem);
  --font-size-600: clamp(1.5rem, 2.12vw + 1.02rem, 2.72rem);
  --font-size-700: clamp(2.05rem, 3.52vw + 1.26rem, 4.08rem);
  --font-size-800: clamp(2.8rem, 5.71vw + 1.51rem, 6.09rem);
  --font-size-900: clamp(3.73rem, 8.19vw + 1.89rem, 8.44rem);

  --display: block;

  --header_font-weight: #{map.get(variables.$font-weights, "bold")};
  --header_font-family: var(--font-family);
  --header_font-color: rgb(var(--font-800-color));
  --header_margin: 0;
  --header_font-line-height: 1;

  --link_font-color: rgb(var(--font-800-color));
  --link_font-color_hover: rgb(var(--font-400-color));

  --grid_gap: #{map.get(variables.$spacings, "400")};
  --grid_container: 1rem;
  --grid_flex-wrap: nowrap;
  --grid_justify-content: flex-start;
  --grid_align-items: stretch;

  --margin: 0;
  --padding: 0;

  --fill_color: none;
  --stroke_color: rgb(var(--default-100-rgb-color));

  --border-color: #{variables.$border-color};

  --box-shadow-depth-0:
    0 0px 1px hsla(190, 0%, 35%, 0.1), 0 0px 4px hsla(190, 0%, 35%, 0.1),
    0 0px 7px hsla(190, 0%, 35%, 0.1), 0 0px 11px hsla(190, 0%, 35%, 0.1),
    0 0px 15px hsla(190, 0%, 35%, 0.1);
  --box-shadow-depth-1:
    1px 1px 1px hsla(190, 0%, 35%, 0.05), 2px 2px 2px hsla(190, 0%, 35%, 0.15);
  --box-shadow-depth-2:
    0 1px 1px hsla(190, 0%, 35%, 0.025), 0 4px 4px hsla(190, 0%, 35%, 0.025),
    0 7px 7px hsla(190, 0%, 35%, 0.025), 0 11px 11px hsla(190, 0%, 35%, 0.025);
  --box-shadow-depth-3:
    0 4px 4px hsla(190, 0%, 35%, 0.025), 0 7px 7px hsla(190, 0%, 35%, 0.025),
    0 11px 11px hsla(190, 0%, 35%, 0.025), 0 15px 15px hsla(190, 0%, 35%, 0.025);
  --box-shadow-depth-9:
    0 0px 5px hsla(0, 0%, 0%, 0.2), 0 0px 10px hsla(0, 0%, 0%, 0.2),
    0 0px 30px hsla(0, 0%, 0%, 0.2), 0 0px 100px hsla(0, 0%, 0%, 0.35);

  --background-color: rgb(var(--default-100-rgb-color));

  --sub-title_line-height: var(--header_font-line-height);

  background-color: var(--background-color);
  overflow-x: hidden;
  color: variables.$font-color;

  --font-size: var(--font-size-400);
  font: {
    size: var(--font-size);
    family: var(--font-family);
    weight: var(--font-weight);
  }
  text: {
    align: var(--text-align);
  }
  line-height: var(--font-line-height);
  margin: var(--margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color, #{$header_font-color});
  line-height: $header_font-line-height;
  margin: $header_margin;
  font-weight: $header_font-weight;
  font-family: $header_font-family;
}

a {
  $link-font-weight: #{map.get(variables.$font-weights, "bold")} !default;
  $link-font-family: var(--font-family) !default;

  --font-color: var(--link_font-color);

  color: var(--font-color);
  font-size: var(--font-size);
  font-family: $link-font-family;
  font-weight: $link-font-weight;
  text-decoration: underline dotted 1px;
  transition: color variables.$transition-duration variables.$transition-easing;
  &:hover {
    --font-color: var(--link_font-color_hover);
  }
}

::-moz-selection,
::selection {
  background: rgba(var(--default-400-rgb-color), 0.5);
}

.section {
  position: relative;
  background-color: var(--background-color);
  z-index: 2;
}
