@mixin transform( $values )
{
	transform:         $values;
	-ms-transform:     $values;
	-moz-transform:    $values;
	-webkit-transform: $values;
}

@mixin transition( $values )
{
	transition:         $values;
	-moz-transition:    $values;
	-webkit-transition: $values;
}

@mixin column( $column: 'auto' )
{
    column-count:         $column;
    -moz-column-count:    $column;
	-webkit-column-count: $column;
}

@mixin column-gap( $column-gap: 'normal' )
{
    column-gap:         $column-gap;
    -moz-column-gap:    $column-gap;
	-webkit-column-gap: $column-gap;
}

@mixin column-break( $column-break: 'auto' )
{
    break-inside:                $column-break;
    page-break-inside:           $column-break;
	-webkit-column-break-inside: $column-break;
}

@mixin text-underline()
{
	&:after {
		background: $grey-color;
		content:    "";
		display:    block;
		height:     3px;
		margin-top: ( $spacing-unit / 4 );
		width:      100%;
	}
}