$navigation-background:       $background-color !default;
$navigation-background-hover: $brand-color !default;
$navigation-link:             $grey-color !default;
$navigation-link-hover:       $background-color !default;
$navigation-speed:            .225s !default;
$navigation-width:            14em !default;
$navigation-z:                100 !default;

.logo
{
	cursor:   pointer;
	display:  block;
	height:   $identity-size;
	width:    $identity-size;
	@include transition( transform $navigation-speed );
	&:hover
	{
		@include transform( scale( 1.1 ) );
	}
}

.navigation
{
	bottom:       0;
	height:       auto;
	position:     fixed;
	right:        -$navigation-width - ( $spacing-unit / 2 );
	width:        $navigation-width;
	z-index:      $navigation-z;
	@include transition( transform $navigation-speed );
	&.open
	{
		@include transform( translate( -$navigation-width + ( $spacing-unit / 2 ) ) );
	}
	.logo
	{
		bottom:   $spacing-unit;
		left:     -( $identity-size + $spacing-unit + ( $spacing-unit / 2 ) );
		position: absolute;
	}
	ul
	{
		bottom:     0;
		box-shadow: 0 0 ( $spacing-unit / 2 ) rgba(0,0,0,0.65);
		margin:     0;
		min-width:  $navigation-width;
		padding:    0;
		position:   absolute;
		li {
			list-style-type: none;
			a {
				background-color: $navigation-background;
				color:            $navigation-link;
				display:          block;
				padding:          ( $spacing-unit / 2 ) $spacing-unit;
				text-decoration:  none;
				&:hover 
				{
					background-color: $navigation-background-hover;
					color:            $navigation-link-hover;
				}
			}
		}
	}
}