@use "sass:map";
@use "sass:string";

$sizes: (
  "tiny": 0.6,
  "small": 0.75,
  "large": 1.25,
) !default;

$spacings: (
  "100": 4px,
  //0.25rem
  "200": 8px,
  //0.5rem,
  "300": 12px,
  //0.75rem,
  "400": 16px,
  //1rem,
  "500": 20px,
  //1.25rem,
  "600": 28px,
  //1.75rem,
  "700": 36px,
  //2.25rem,
  "800": 48px,
  //3rem,
  "900": 64px, //4rem,
) !default;

$padding: clamp(
  map.get($spacings, "500"),
  7vw,
  map.get($spacings, "900")
) !default;

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

$alt_font-family: "Lora", serif;
$font-weights: (
  normal: 400,
  bold: 600,
) !default;
$font-weight: #{map.get($font-weights, "normal")} !default;

$colors: (
  "default": hsla(210, 20%, 80%, 0.35),
  "primary": hsl(252, 0%, 10%),
  "secondary": hsl(210, 90%, 50%),
  "success": hsl(150, 50%, 50%),
  "error": hsl(10, 70%, 60%),
  "focus": hsla(210, 50%, 50%, 0.5),
  "font": string.unquote("96, 92, 112"),
  "font-100": string.unquote("98, 95, 107"),
  "font-400": string.unquote("91, 87, 102"),
  "font-800": string.unquote("43, 43, 53"),
  "white": string.unquote("252, 252, 252"),
  "black": string.unquote("25, 25, 26"),
  "default-100": #fcfcfc,
  "default-100-rgb": string.unquote("252, 252, 252"),
  "default-200": #dbdbdb,
  "default-200-rgb": string.unquote("219, 219, 219"),
  "default-300": #c6c6cf,
  "default-300-rgb": string.unquote("198, 198, 207"),
  "default-400": #a5a5b3,
  "default-400-rgb": string.unquote("165, 165, 179"),
  "default-500": #787888,
  "default-500-rgb": string.unquote("120, 120, 136"),
  "default-600": #5c5c69,
  "default-600-rgb": string.unquote("92, 92, 105"),
  "default-700": #3d3d49,
  "default-700-rgb": string.unquote("61, 61, 73"),
  "default-800": #2b2b35,
  "default-800-rgb": string.unquote("43, 43, 53"),
  "default-900": #19191a,
  "default-900-rgb": string.unquote("25, 25, 26"),
) !default;

$dark-mode_colors: (
  "default": hsla(220, 3%, 22%, 0.35),
  "primary": hsl(252, 0%, 10%),
  "secondary": hsl(210, 90%, 50%),
  "success": hsl(150, 50%, 50%),
  "error": hsl(10, 70%, 60%),
  "focus": hsla(210, 50%, 50%, 0.5),
  "font": string.unquote("139, 134, 162"),
  "font-100": string.unquote("117, 114, 129"),
  "font-400": string.unquote("152, 149, 163"),
  "font-800": string.unquote("209, 205, 223"),
  "white": string.unquote("252, 252, 252"),
  "black": string.unquote("23, 23, 27"),
  "default-100": rgb(14, 14, 17),
  "default-100-rgb": string.unquote("17, 17, 20"),
  "default-200": #16161a,
  "default-200-rgb": string.unquote("22, 22, 26"),
  "default-300": #3d3d49,
  "default-300-rgb": string.unquote("61, 61, 73"),
  "default-400": #5c5c69,
  "default-400-rgb": string.unquote("92, 92, 105"),
  "default-500": #787888,
  "default-500-rgb": string.unquote("120, 120, 136"),
  "default-600": #868196,
  "default-600-rgb": string.unquote("165, 165, 179"),
  "default-700": #9e99af,
  "default-700-rgb": string.unquote("198, 198, 207"),
  "default-800": #bab5cc,
  "default-800-rgb": string.unquote("209, 209, 219"),
  "default-900": #d1cddf,
  "default-900-rgb": string.unquote("209, 205, 223"),
) !default;

$shadow-color: rgb(var(--black-color));
$border-color: rgba(var(--default-900-rgb-color), 0.1);

$transition-duration: 0.25s;
$transition-easing: ease-in-out;