$alt_font-family: 'Lora', serif;

@import "colors.scss";
@import "sizes.scss";
@import "transitions.scss";
@import "component/functions.scss";
@import "component/padding.scss";

@import url('https://fonts.googleapis.com/css?family=Lora:400i&display=swap');

$font-weight: 400;

$contrast_light_color: hsl( 252, 10%, 40% );
$contrast_dark_color: hsl( 252, 10%, 90% );

$font-color: hsl( 252, 10%, 40% );

$horizontal-spacing: 1rem;
$vertical-spacing:   .75rem;


$padding_top: 3rem !default;
$padding_left: $padding_top !default;
$padding_bottom: $padding_top !default;
$padding_right: $padding_left !default;

$border-color: hsla( 252, 25%, 12%, .1 );

$transition-duration: .25s;
$transition-easing:   ease-in-out;

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);


$shadow-color: rgb( 0, 0, 0 );

* {
  box-sizing: border-box;
}

body { 
  animation: fadeInAnimation ease-in-out .75s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
}

body {
  @include build-variables( $colors );

  --font-color:       #{ $font-color };
  --font-size:        20px;
  --font-line-height: 1.5;
  --font-weight:      400;
  --font-family:      sans-serif;
  --text-align:       left;

  --font-size-100: clamp(0.75rem, 0.00vw + 0.75rem, 0.75rem);
  --font-size-200: clamp(0.80rem, 0.16vw + 0.76rem, 0.89rem);
  --font-size-300: clamp(0.95rem, 0.16vw + 0.91rem, 1.04rem);
  --font-size-400: clamp(1.11rem, 0.24vw + 1.06rem, 1.25rem);
  --font-size-500: clamp(1.25rem, 0.84vw + 1.06rem, 1.73rem);
  --font-size-600: clamp(1.50rem, 2.12vw + 1.02rem, 2.72rem);
  --font-size-700: clamp(2.05rem, 3.52vw + 1.26rem, 4.08rem);
  --font-size-800: clamp(2.80rem, 5.71vw + 1.51rem, 6.09rem);
  --font-size-900: clamp(3.73rem, 8.19vw + 1.89rem, 8.44rem);

  --display: block;

  --header_font-weight:      600;
  --header_font-family:      var( --font-family );
  --header_font-color:       var( --900-color );
  --header_margin:           0;
  --header_font-line-height: 1;

  --link_font-color:       hsla( 252, 25%, 12%, .75);
  --link_font-color_hover: hsla( 252, 25%, 12%, 1);
  --link_font_weight:      600;

  --grid_gap:             1rem;
  --grid_container:       1rem;
  --grid_flex-wrap:       nowrap;
  --grid_justify-content: flex-start;
  --grid_align-items:     stretch;

  --margin: 0;
  --padding: 0;

  --layout-post_padding: 0 $horizontal-spacing $horizontal-spacing $horizontal-spacing;
  --layout-post_margin:  8rem;

  --dropdown_background-color: hsl( 190, 0%, 100%);
  --dropdown_border:           1px solid hsla( 190, 0%, 0%, .075 );
  --dropdown_child_padding:    .5rem 1rem;

  --transition: var( --transition_attribute ) var( --transition_duration ) var( --transition_ease ) var( --transition_delay );
  --transition_attribute: all;
  --transition_duration: .25s;
  --transition_ease: ease-in-out;
  --transition_delay: 0;

  --fill_color: none;
  --stroke_color: var( --font-color );

  --border-color: #{ $border-color };

  --box-shadow-depth-0:
    0 0px 1px hsla( 190, 0%, 35%, .1 ),
    0 0px 4px hsla( 190, 0%, 35%, .1 ),
    0 0px 7px hsla( 190, 0%, 35%, .1 ),
    0 0px 11px hsla( 190, 0%, 35%, .1 ),
    0 0px 15px hsla( 190, 0%, 35%, .1 );
  --box-shadow-depth-1:
    1px 1px 1px hsla( 190, 0%, 35%, .05 ),
    2px 2px 2px hsla( 190, 0%, 35%, .15 );
  --box-shadow-depth-2:
    0 1px 1px hsla( 190, 0%, 35%, .025 ),
    0 4px 4px hsla( 190, 0%, 35%, .025 ),
    0 7px 7px hsla( 190, 0%, 35%, .025 ),
    0 11px 11px hsla( 190, 0%, 35%, .025 );
  --box-shadow-depth-3:
    0 4px 4px hsla( 190, 0%, 35%, .025 ),
    0 7px 7px hsla( 190, 0%, 35%, .025 ),
    0 11px 11px hsla( 190, 0%, 35%, .025 ),
    0 15px 15px hsla( 190, 0%, 35%, .025 );
  --box-shadow-depth-9:
    0 0px 5px hsla(0, 0%, 0%, 0.2),
    0 0px 10px hsla( 0, 0%, 0%, .2 ),
    0 0px 30px hsla( 0, 0%, 0%, .2 ),
    0 0px 100px hsla( 0, 0%, 0%, .35 );


  --background-color: hsl( 190, 25%, 98% );

  --title_font-size: 2.5rem;
  --sub-title_font-size: 1.75rem;
  --sub-title_line-height: var( --header_font-line-height );

  background-color: var( --background-color );
  overflow-x: hidden;
  color: var( --font-color );

  --font-size: var(--font-size-400);
  font: {
    size: var( --font-size );
    family: var( --font-family );
    weight: var( --font-weight );
  }
  text: {
    align: var( --text-align );
  }
  line-height: var( --font-line-height );
  margin: var( --margin );
  padding: var( --padding );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-color:       var( --header_font-color );
  --margin:           var( --header_margin );
  --font-family:      var( --header_font-family );
  --font-weight:      var( --header_font-weight );
  --font-line-height: var( --header_font-line-height );
  
  color: var( --font-color );
  line-height: var( --font-line-height );
  margin: var( --margin );
}

a {
  --font-color:  var( --link_font-color );
  --font-weight: var( --link_font_weight );

  color: var( --font-color );
  font-size: var( --font-size );
  font-family: var( --font-family );
  font-weight: var( --font-weight );
  transition: var( --transition );
  &:hover {
    --font-color: var( --link_font-color_hover );
  }
}

@import "component/button.scss";
@import "component/blockquote.scss";
@import "component/dropdown.scss";
@import "grid/columns.scss";
@import "layouts/navigation.scss";
@import "component/icon.scss";
@import "component/figure.scss";
@import "component/post_link.scss";
@import "layouts/posts.scss";
@import "component/badge.scss";
@import "component/clients.scss";
@import "component/palette.scss";
@import "component/social.scss";
@import "component/list_items.scss";


.section {
  position: relative;
  background-color: var( --background-color );
  z-index: 2;
}
.home {
  display: flex;
  justify-items: stretch;
  flex-wrap: wrap;
  @media( min-width: #{ map-get( $breakpoints, "medium" ) } )  {
    & > .post_link {
      flex: 1 3 40%;
      &:nth-child(4n+1) {
        flex: 3 1 60%;
      }
      &:nth-child(4n+4) {
        flex: 3 1 60%;
      }
    }
  }
}

.thumbnail {
  max-width: 100%;
  display: block;
  min-height: 20rem;
  object-fit: cover;
}