$navigation_padding: (
  small:  (
    padding: 
      map-get( $spacings, "200" ) 
      map-get( $spacings, "500" )
  ),
  large: (
    padding: 
      map-get( $spacings, "200" ) 
      map-get( $spacings, "800" )
  )
);
$button_back_icon_circle: true !default;

$button_back_width:           3.5rem !default;
$button_back_height:          $button_back_width !default;
$button_back_font-weight:     $font-weight !default;
$button_back_padding:         map-get( $spacings, "400" )  !default;

$button_back_label_font-size:   0.85rem !default;
$button_back_label_margin:      (      
                                  0 
                                  map-get( $spacings, "400" )
                                  0 
                                  map-get( $spacings, "200" )
                                ) !default;

$button_back_label_sticky_margin:                   $button_back_label_margin !default;
$button_back_label_sticky_font-weight:              600 !default;
$button_back_label_sticky_font-color:               rgb( var(--white-color) ) !default;
$button_back_label_sticky_text-shadow:              0 0 0.5rem rgba(0, 0, 0, 0.65) !default;
$button_back_label_sticky_background-color:       rgb( 0, 0, 0 ) !default;
$button_back_label_sticky_background-scrim_sticky:  linear-gradient( 180deg, rgba( 0, 0, 0, 0.75 ) 0%, rgba( 0, 0, 0, 0.3 ) 55%, rgba( 0, 0, 0, 0.1 ) 85%, rgba( 0, 0, 0, 0 ) 100%) !default;
$button_back_label_sticky_background-scrim:         linear-gradient( 180deg, rgba( 256, 0, 256, 0 ) 0%, rgba( 256, 256, 256, 0 ) 55%, rgba( 256, 256, 256, 0 ) 85%, rgba( 256, 256, 256, 0 ) 100%) !default;


$button_back_icon_background-color:       rgb( var( --default-900-rgb-color ) ) !default;
$button_back_icon_hover_background-color: rgb( var( --default-800-rgb-color ) ) !default; //darken( $button_back_icon_background-color, 10% ) !default;
$button_back_icon_border-width:           1px !default;
$button_back_icon_border-style:           solid !default;
$button_back_icon_border-color:           rgba( var( --default-100-rgb-color ), 0.1 ) !default;
$button_back_icon_box-shadow:             0 0 10px $shadow-color !default;
$button_back_icon_border:
  //border- width
  $button_back_icon_border-width
  //border style
  $button_back_icon_border-style
  //border color
  $button_back_icon_border-color !default;
$button_back_icon_transition-duration: .75s;
$button_back_icon_transition-easing:   $transition-easing;
$button_back_icon_transition:
  all
  //transition duration
  $button_back_icon_transition-duration
  //transition easing
  $button_back_icon_transition-easing !default;

.navigation {
  padding: 0;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
  background: $button_back_label_sticky_background-scrim;
  @include breakpoint( $navigation_padding, $breakpoints );
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $button_back_label_sticky_background-scrim_sticky;
    z-index: -1;
    opacity: 0;
    transition: opacity $button_back_icon_transition-duration $button_back_icon_transition-easing;
  }
  &.is_fixed {
    position: fixed;
    width: 100%;
  }
  &.is_sticky {
    position: sticky;
  }
  &.is-sticky {
    @include breakpoint( $navigation_padding, $breakpoints );
    &:after {
      content: attr( data-title );
      display: inline-flex;
      font-weight: $button_back_label_sticky_font-weight;
      animation-name: fade-down;
      animation-duration: $transition-duration;
      color: $button_back_label_sticky_font-color;
      text-shadow: $button_back_label_sticky_text-shadow;
      margin: $button_back_label_sticky_margin;
    }
    &::before {
      opacity: 1;
    }
  }
}


.button_back {
  display: flex;
  font-weight: $button_back_font-weight;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  transition:
    color $transition-duration $transition-easing,
    background-color $transition-duration $transition-easing;
  &:hover,
  &:focus {
    .icon {
      background-color: #{ $button_back_icon_hover_background-color };
    }
  }
  &:focus {
    .icon {
      box-shadow: $button_back_icon_box-shadow;
    }
  }
  &:after {
    content: attr( data-label );
    display: inline-flex;
    margin: $button_back_label_margin;
    font-size: $button_back_label_font-size;
  }
  .is-sticky &,
  .is-fixed & {
    &:after {
      display: none;
    }
  }
  .icon {
    display: flex;
    align-content: center;
    justify-content: center;
    width: $button_back_width;
    height: $button_back_height;
    padding: $button_back_padding;
    background-color: #{ $button_back_icon_background-color };
    border: #{ $button_back_icon_border-color };
    transition: $button_back_icon_transition;
    @if $button_back_icon_circle {
      border-radius: 50%;
    }
  }
}