$page_sub-title_font-size:    var( --font-size-600 ) !default;
$page_sub-title_font-weight:  400 !default;
$page_sub-title_font-color:   rgb( var( --font-100-color ) ) !default;
$page_sub-title_font-family:  $alt_font-family !default;
$page_sub-title_line-height:  var( --sub-title_line-height ) !default;

.page {
  &_header {
    --padding: 2.5rem 0 1rem 1rem;
    @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
      --padding: 4rem 3rem 3rem 3rem;
    }
    padding: var( --padding ); 
  }
  &_header_group {
    @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
      flex: 5 1 50%;
    }
  }
  &_title {
    font-size: var( --font-size-900 );
  }
  &_sub-title  {
    color: $page_sub-title_font-color;
    font-weight: $page_sub-title_font-weight;
    font-family: $page_sub-title_font-family;
    font-size: $page_sub-title_font-size;
    display: var( --display );
    line-height: $page_sub-title_line-height;
  }
  
  &_content {
    --layout-page_padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    video,
    img {
      object-fit: cover;
    }
    video,
    figure {
      flex: 1 1 100%;
    }
    @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
      video,
      figure {
        flex: 1 1 #{ map-get( $breakpoints, "medium" ) };
      }
      .narrow {
        flex-basis: 33%;
      }
      .wide {
        flex-basis: 66%;
      }
      .half {
        flex-basis: 50%;
      }
      .full {
        flex-basis: 100%;
      }
    }
    .text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;
      padding: map-get( $spacings, "500" );
      @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
        padding: map-get( $spacings, "800" );
        flex: 1 1 33%;

        &.narrow {
          flex-basis: 33%;
        }
        &.wide {
          flex-basis: 66%;
        }
        &.half {
          flex-basis: 50%;
        }
        &.full {
          flex-basis: 100%;
        }
      }
      &_wrapper {
        max-width: none;
        @include breakpoint( 
          (
            xlarge: (
              max-width: 75ch
            ),
          ),
          $breakpoints
        );
        &.columns {
          max-width: 72rem;
          width: 100%;
          & > p {
            columns: auto 24rem;
          }
        }
      }
    }
    
    & > p {
      padding: 
        0 
        map-get( $spacings, "500" )
        map-get( $spacings, "400" )
        map-get( $spacings, "500" );
      width: min( 100% - calc( map-get( $spacings, "500" ) * 2 ), 75ch );
      @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
        padding: 
          0 
          map-get( $spacings, "800" )
          map-get( $spacings, "500" )
          map-get( $spacings, "800" );
      }
    }
    img,
    picture {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
    }

    .text-wrapper {
      display: flex;
      width: 100%;
      padding:
        map-get( $spacings, "800" )
        0;
      background-color: rgb( var( --default-100-rgb-color) );
      flex-direction: column;
      align-items: center;
      @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
        padding:
          calc( map-get( $spacings, "800" ) * 4 ) 
          0;
      }
    }
    
    .gallery,
    %gallery {
      --layout-page_padding: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      @media( min-width: #{ map-get( $breakpoints, "medium" ) } )  {
        & > * {
          flex: 1 1 33%;
        }
        video,
        img {
          object-fit: cover;
        }
        .wide {
          flex: 1 2 66%;
        }
        .half {
          flex: 1 2 45%;
        }
        .full {
          flex: 1 3 100%;
        }
      }
      .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include breakpoint( 
          (
            small:  (
              padding: map-get( $spacings, "500" )
            ),
            medium: (
              padding: 
                map-get( $spacings, "800" )
                map-get( $spacings, "800" ),
            ),
          ),
          $breakpoints
        );
        &_wrapper {
          @include breakpoint( 
            (
              small:  (
                max-width: none
              ),
              medium: (
                max-width: 24rem
              ),
            ),
            $breakpoints
          );
          &.columns {
            max-width: 72rem;
            width: 100%;
            & > p {
              columns: auto 24rem;
            }
          }
        }
      }
      .quote-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include breakpoint( 
          (
            small:  (
              padding: map-get( $spacings, "500" )
            ),
            medium: (
              padding:
                map-get( $spacings, "800" )
                map-get( $spacings, "800" ),
            ),
          ),
          $breakpoints
        );
        &_wrapper {
          @include breakpoint( 
            (
              small:  (
                max-width: none
              ),
              medium: (
                max-width: 24rem
              ),
            ),
            $breakpoints
          );
          &.columns {
            max-width: 72rem;
            width: 100%;
            & > p {
              columns: auto 24rem;
            }
          }
        }
      }
      .grey {
        background-color: hsl( 100, 0%, 90%);
      }
      .black {
        background-color: hsl( 100, 0%, 10%);
      }
      &_column_2 {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
      }
      &_columns_2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > * {
          @include breakpoint( 
            (
              small:  (
                width: 100%
              ),
              medium: (
                width: calc( 100% / 2 )
              ),
            ),
            $breakpoints
          );
        }
      }
      &_columns_3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > * {
          @include breakpoint( 
            (
              small:  (
                width: 100%
              ),
              medium: (
                width: calc( 100% / 2 )
              ),
              large: (
                width: calc( 100% / 3 )
              )
            ),
            $breakpoints
          );
        }
      }
      &_columns {
        display: flex;
        @include breakpoint( 
          (
            small:  (
              flex-direction: column,
            ),
            large: (
              flex-direction: row,
            )
          ),
          $breakpoints
        );
        
      }
      &_rows {
        display: flex;
        flex-direction: column;
      }
      &_centered {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include breakpoint( 
          (
            small:  (
              width: 100%,
            ),
            large: (
              margin-left: auto,
              margin-right: auto,
              align-items: center,
            )
          ),
          $breakpoints
        );
        figure {
          width: 100%;
          flex: 1 1 auto;
          justify-content: center;
          img {
            @include breakpoint( 
              (
                small:  (
                  width: 100%,
                ),
                large: (
                  width: 50%,
                )
              ),
              $breakpoints
            );
          }
        }
      }
      &_centered,
      &_rows,
      &_columns,
      &_columns_2,
      &_columns_3 {
        &.shadow {
          figure {
            --padding: 2rem;
            @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
              --padding: 3rem;
            }
            @media( min-width: #{ map-get( $breakpoints, "xxlarge" ) } )  {
              --padding: 6rem;
            }
            
            padding: var( --padding );
            img {
              @include breakpoint( 
                (
                  large: (
                    box-shadow: var( --box-shadow-depth-9 )
                  )
                ),
                $breakpoints
              );
            }
          }
        }
      }
    }
  }
  &_footer {
    background-color: rgb( var( --black-color ) );
    padding: var(--grid_gap);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var( --grid_gap );
    .page_link {
      flex-basis: 25rem;
      .title {
        font-size: 1.75rem;
      }
    }
  }
  .black {
    color: white;
    background-color: hsl( 100, 0%, 10%);
  }
  &_static {
    --padding: 3rem 1.5rem 1.5rem 1.5rem;
    @media( min-width: #{ map-get( $breakpoints, "large" ) } )  {
      --padding: 6rem 3rem 3rem 3rem;
    }
    padding: var( --padding );
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }  
}