@use "sass:map";
@use "../main";
@use "../variables";
@use "../component/functions";

$page_sub-title_font-size: var(--font-size-600) !default;
$page_sub-title_font-weight: #{map.get(main.$font-weights, "normal")} !default;
$page_sub-title_font-color: rgb(var(--font-100-color)) !default;
$page_sub-title_font-family: main.$alt_font-family !default;
$page_sub-title_line-height: var(--sub-title_line-height) !default;

.page {
  &_header {
    padding: variables.$padding;
  }
  &_title {
    font-size: var(--font-size-900);
  }
  &_sub-title {
    color: $page_sub-title_font-color;
    font-weight: $page_sub-title_font-weight;
    font-family: $page_sub-title_font-family;
    font-size: $page_sub-title_font-size;
    display: var(--display);
    line-height: $page_sub-title_line-height;
  }

  &_content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    video,
    img {
      object-fit: cover;
    }
    video,
    figure {
      flex: 1 1 100%;
    }
    @media ( min-width: #{ map.get( main.$breakpoints, "large" ) } ) {
      video,
      figure {
        flex: 1 1 #{map.get(main.$breakpoints, "medium")};
      }
      .narrow {
        flex-basis: 33%;
      }
      .wide {
        flex-basis: 66%;
      }
      .half {
        flex-basis: 50%;
      }
      .full {
        flex-basis: 100%;
      }
    }
    .text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;
      padding: variables.$padding;
      @media ( min-width: #{ map.get( main.$breakpoints, "large" ) } ) {
        flex: 1 1 33%;

        &.narrow {
          flex-basis: 33%;
        }
        &.wide {
          flex-basis: 66%;
        }
        &.half {
          flex-basis: 50%;
        }
        &.full {
          flex-basis: 100%;
        }
      }
      &_wrapper {
        max-width: clamp(320px, 100%, 60ch);
        &.columns {
          max-width: 72rem;
          width: 100%;
          & > p {
            columns: auto 24rem;
          }
        }
        li {
          margin-bottom: map.get(variables.$spacings, "400");
        }
      }
    }

    & > p {
      width: min(100% - calc(map.get(variables.$spacings, "500") * 2), 75ch);
      padding: variables.$padding;
    }
    img,
    picture {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
    }

    .text-wrapper {
      display: flex;
      width: 100%;
      padding: variables.$padding;
      background-color: rgb(var(--default-100-rgb-color));
      flex-direction: column;
      align-items: center;
    }

    .gallery,
    %gallery {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      @media ( min-width: #{ map.get( main.$breakpoints, "medium" ) } ) {
        & > * {
          flex: 1 1 33%;
        }
        video,
        img {
          object-fit: cover;
        }
        .wide {
          flex: 1 2 66%;
        }
        .half {
          flex: 1 2 45%;
        }
        .full {
          flex: 1 3 100%;
        }
      }
      .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: clamp(
          map.get(variables.$spacings, "400"),
          3vw,
          map.get(variables.$spacings, "800")
        );
        &_wrapper {
          @media ( min-width: #{ map.get( main.$breakpoints, "small" ) } ) {
            max-width: none;
          }
          @media ( min-width: #{ map.get( main.$breakpoints, "medium" ) } ) {
            max-width: 24rem;
          }
          &.columns {
            max-width: 72rem;
            width: 100%;
            & > p {
              columns: auto 24rem;
            }
          }
        }
      }
      &_centered {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media ( min-width: #{ map.get( main.$breakpoints, "small" ) } ) {
          width: 100%,
        }
        @media ( min-width: #{ map.get( main.$breakpoints, "large" ) } ) {
          margin-left: auto;
          margin-right: auto;
          align-items: center;
        }
        figure {
          width: 100%;
          flex: 1 1 auto;
          justify-content: center;
          img {
            @media ( min-width: #{ map.get( main.$breakpoints, "small" ) } ) {
              width: 100%;
            }
            @media ( min-width: #{ map.get( main.$breakpoints, "large" ) } ) {
              width: 50%;
            }
          }
        }
      }
      &_centered {
        &.shadow {
          figure {
            padding: variables.$padding;
            img {
              box-shadow: var(--box-shadow-depth-9);
            }
          }
        }
      }
    }
  }
  &_footer {
    background-color: rgb(var(--black-color));
    padding: variables.$padding;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--grid_gap);
    .page_link {
      flex-basis: clamp(150px, 15rem, 100%);
      img {
        min-height: auto;
        height: clamp(150px, 15rem, 100%);
      }
      .title {
        font-size: var(--font-size-500);
      }
    }
  }
  &_static {
    max-width: 70ch;
    margin: 0 auto;
    padding: variables.$padding;
  }
}
