.badge {
    font-size: .8rem;
    padding: 0.25rem 1rem;
    background-color: var(--default-color);
    border: 1px solid var(--default-color);
    border-radius: 2rem;
    color: var(--link_font-color);
    text-decoration: none;
}