
$figure_background-color:     hsl( 252, 5%, 95% ) !default;
$figure_scrim_background-color: adjust-color(black, $alpha: -0.6 ) !default;
$figure_scrim_font-color:      hsl( 252, 5%, 80% ) !default;
$figure_scrim_background:       linear-gradient(
                                  0deg,
                                  $figure_scrim_background-color 0%,
                                  adjust-color( $figure_scrim_background-color, $alpha: -0.35 ) 55%,
                                  adjust-color( $figure_scrim_background-color, $alpha: -1 ) 100%
                                ) !default;
$figure_scrim_text-shadow:      0 0 0.75rem rgb( var( --black-color ) ) !default;
$figure_scrim_font-style:       italic !default;
$figure_scrim_font-weight:      400 !default;
$figure_scrim_padding:          1rem !default;

img {
    width: 100%;
    height: auto;
}

figure {
  --background-color: #{ $figure_background-color };
  margin: var( --margin );
  padding: var( --padding );
  position: relative;
  overflow-y: hidden;
  display: flex;
  figCaption {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: $figure_scrim_padding;
    background: $figure_scrim_background;
    color: $figure_scrim_font-color;
    font-style: $figure_scrim_font-style;
    text-shadow: $figure_scrim_text-shadow;
    font-weight: $figure_scrim_font-weight;
  }
}

.page {
  figure {
    min-height: 15rem;
  }
}

.thumbnail {
  max-width: 100%;
  display: block;
  min-height: 20rem;
  object-fit: cover;
}