@use "sass:map";
@use "../variables.scss";
@use "../main.scss";
@use "padding";

.list_items {
  display: flex;
  flex-direction: row;
  gap: map.get(variables.$spacings, "500");
  list-style: none;
  font-size: var(--font-size-100);
  letter-spacing: 0.075rem;
  padding: padding.$padding;
  flex-wrap: wrap;
  justify-content: start;
  font-weight: #{map.get(main.$font-weights, "normal")};
  color: var(--color);
  max-width: 700px;
  margin: inherit;
  padding-top: initial;
  & h3 {
    font-size: var(--font-size-100);
  }
  & li {
    display: flex;
  }
  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: initial;
    gap: map.get(variables.$spacings, "100");
    &.columns {
      column-count: 3;
      gap: map.get(variables.$spacings, "400");
      @media ( min-width: #{ map.get( main.$breakpoints, "large" ) } ) {
        column-count: 5;
      }
    }
    li {
      gap: map.get(variables.$spacings, "200");
      align-items: center;
    }
  }
}

.list_item {
  flex: 1 1 clamp(150px, 5vw, 320px);
  flex-direction: column;
  gap: map.get(variables.$spacings, "200");
  img {
    max-height: 1rem;
    max-width: 1rem;
  }
}
