@use "sass:map";
@use "../variables";

.palette-container {
  display: flex;
  align-items: center;
  width: 100%;
  h2 {
    padding-left: 3rem;
    padding-right: 1.5rem;
  }
  h4 {
    padding: 0.5rem;
    text-align: center;
  }
}
.palette {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-400);
  height: 100%;
  &.large {
    flex-grow: 10;
  }
  &.medium {
    flex-grow: 5;
  }
  &.legend {
    flex-grow: 0;
    text-align: end;
    padding: 0 0.5rem;
  }
  .swatch {
    height: 100%;
    min-height: 3rem;
    display: flex;
    font-size: var(--font-size-100);
    padding: 0 0.5rem;
    align-items: center;
    position: relative;
    &:after {
      opacity: 0;
      content: attr(data-swatch);
      color: rgb(var(--white-color));
      background-color: rgba(var(--black-color), 0.6);
      padding: 0.125rem 0.5rem;
      border-radius: 1rem;
      font-family: monospace;
      display: none;
      @media ( min-width: #{ map.get( variables.$breakpoints, "medium" ) } ) {
        display: block;
      }
    }
    &:hover {
      &:after {
        opacity: 1;
        transition: opacity variables.$transition-duration variables.$transition-easing;
      }
    }
  }
}
