---
layout: default
---

<div class="gallery">
{% if site.posts.size > 0 %}
    {% for post in site.posts %}
	<figure>
		<a class="post-link" href="{{ post.url | relative_url }}">
			<img
        src="/assets/img/{{ post.featured-img }}.jpg"
        srcset="/assets/img/{{ post.featured-img }}-large.jpg 1600w,
          /assets/img/{{ post.featured-img }}-medium.jpg 640w,
          /assets/img/{{ post.featured-img }}-small.jpg 320w"
        sizes="(min-width: 576px) 33.3vw, 1600px"
        alt="{{ post.title }}"
      >
			<figcaption>
				<section>
					<h1>{{ post.title }}</h1>
					{{ post.categories | join:', ' | replace:'-', ' ' | append:' ' }}
				</section>
			</figcaption>
		</a>
	</figure>
    {% endfor %}
{% endif %}
</div>
<div id="about-me">
	<section>
    <header>
      <figure>
        <img src="/assets/img/headshot.png" class="avatar">
      </figure>
  		<h1>Jon Brim</h1>
      <small>UI/UX Designer</small>
    </header>
		<summary>
      Hi I'm Jon. I have over 9 years of experience creating impactful visual products in a variety of media, platforms, and devices. I love collaborating with product and development teams to design and iterate new features, explore innovative technologies, tackle challenging problems, and provide the best possible experience to users.
    </summary>
	</section>
</div>
