---
layout: default
---
{% include navigation.html type="back" %}
<article class="page" itemscope itemtype="http://schema.org/Blogpageing">

  <header class="page_header sticky_trigger">
    <h1 class="page_title" itemprop="name">{{ page.title | escape }}</h1>
    {% if page.sub-title %}
      <span class="page_sub-title" >
        {{ page.sub-title | escape }}
      </span>
    {% endif %}
  </header>
  {% include qualifications.html %}
  <main class="page_content" itemprop="articleBody">
    {{ content }}
  </main>
  <footer id="additional-projects" class="page_footer">
    {% assign projects = site.project | sort: 'date' | reverse  %}
    {% for collection in projects limit:4 %}
    {% if collection.url != page.url %}
    <h2>{{ collection.label }}</h2>
      <a class="page_link" href="{{ collection.url | relative_url }}">
        <img 
          src="{{ collection.thumbnail }}"
          class="thumbnail"
          alt="{{ collection.title }}"
          width="500px"
          height="300px"
          loading="lazy"
          {% if collection.thumbnail_background-color %} style="background-color:{{ collection.thumbnail_background-color }}"{% endif %}
        >
        <div class="scrim">
          <h4 class="title">{{ collection.title }}</h4>
          <span class="sub-title">{{ collection.sub-title }}</span>
        </div>
      </a>
    {% endif %}
    {% endfor %}
  </footer>
</article>
