---
layout: default
---
{% include navigation.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post_header">
    <h1 class="post_title" itemprop="name">{{ page.title | escape }}</h1>
    {% if page.sub-title %}
      <span class="post_sub-title" >
        {{ page.sub-title | escape }}
      </span>
    {% endif %}
  </header>
  {% include qualifications.html %}
  <main class="post_content" itemprop="articleBody">
    {{ content }}
  </main>
  <footer class="post_footer">
    {% for post in site.related_posts limit:4 %}
      <a class="post_link" href="{{ post.url | relative_url }}">
        <img 
          src="{{ post.thumbnail }}"
          class="thumbnail"
          alt="{{ post.title }}"
          width="500px"
          height="300px"
          loading="lazy"
          {% if post.thumbnail_background-color %} style="background-color:{{ post.thumbnail_background-color }}"{% endif %}
        >
        <div class="scrim">
          <h4 class="title">{{ post.title }}</h4>
          <span class="sub-title">{{ post.sub-title }}</span>
        </div>
      </a>
    {% endfor %}
  </footer>
</article>
