---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<main itemprop="articleBody">
		{% if page.featured-img %}
		<figure class="fullsize" style="background-image: url('{{ page.featured-img }}');">
			<figcaption>
				<h1>
					{{ page.title }}
					<br>
					<small>
						{% for category in page.categories %}
						<a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="category">{{category}}</a>
						{% unless forloop.last %}&nbsp;{% endunless %}
						{% endfor %}
					</small>
				</h1>
				{% if page.excerpt %}
				<p>{{ page.excerpt }}</p>
				{% endif %}
			</figcaption>
		</figure>
		{% endif %}
		{{ content }}
	</main>
	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>