---
layout: default
---

<article itemprop="articleBody" class="post" itemscope itemtype="http://schema.org/BlogPosting">
	{% if page.featured-img %}
	<figure class="fullsized">
		<img src="/assets/img/{{ page.featured-img }}.jpg" alt="{{ page.title }}">
	</figure>
	<section class="section">
		<header>
			<h1>
				{{ page.title }}
			</h1>
			<small>
				{% for category in page.categories %}
				<a href="{{site.baseurl}}/category/{{ category | slugize | downcase }}" class="category">{{category | replace:'-', ' '}}</a>
				{% unless forloop.last %}&nbsp; | &nbsp;{% endunless %}
				{% endfor %}
			</small>
		</header>
		<summary>
			{% if page.excerpt %}
			{{ page.excerpt }}
			{% endif %}
		</summary>
	</section>
	{% endif %}
	{{ content }}
</article>
<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
